
<div class="container">
    <div class="row relativ">
        <!-- Block drop_menu -->
        <div class="drop_menu_down">
            <ul class="navigation">
                <li><a href="#">MEMBER LOGIN</a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">LINKS</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="#">HOLSTEIN UK</a></li>
                <li><a href="#">CIS</a></li>
            </ul>
        </div>
        <!-- end block drop_menu -->
    </div>
</div>
