
<div class="container-fluid">
    <div class="row relativ">
        <!-- Block drop_menu_large -->
        <div class="drop_menu_large">
            <ul class="navigation">
                <li><a href="#">MEMBER LOGIN</a></li>
                <li><a href="#">KNOWLEDGE CENTRE</a></li>
                <li><a href="#">BREEDING IMPROVEMENT</a></li>

                <li><a href="#">NEWS</a></li>
                <li><a href="#">PARTNERS</a></li>
                <li><a href="#">EVENTS</a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">LINKS</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="#">HOLSTEIN UK</a></li>
                <li><a href="#">CIS</a></li>
            </ul>
        </div>
        <!-- end block drop_menu_large -->
    </div>
</div>
