<!-- Block white_menu -->
<div class="white_menu_horisontal" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="logo_ul">
                    <li class="logo"><a href="index.html"><img src="img/logo2.png" alt="logo"></a></li>
                </ul>
                <ul class="navigation">
                    <li><a href="knowlege.html">KNOWLEDGE CENTRE </a></li>
                     <li><a href="certificat.html">BREEDING IMPROVEMENT</a></li>
                    <li><a href="#">NEWS</a></li>
                    <li><a href="partner.html">PARTNERS</a></li>
                    <li><a href="#">EVENTS </a></li>
                    <!--A - Search-->
                    <!--B - navbar-->
                    <!--C - Close-->

                    <li class="search downs"><a class="icon" href="#"><i class="icon">A</i></a></li>
                    <li class="drop_nav down"><a class="icon" href="#"><i class="icon">B</i></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>



<!-- end block white_menu -->