<!-- Block small_menu -->
<div class="small_menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="logo_ul">
                    <li class="logo"><a href="#"><img src="img/logo2.png" alt="logo"></a></li>
                </ul>
                <ul class="navigation">
                     <li class="search apps_sm"><a href="#"><a class="icon" href="#"><i class="icon">A</i></a></li>
                    <li class="drop_nav drop_menu_l"><a class="icon" href="#"><i class="icon">B</i></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- end block small_menu -->