<!--Navigation-->
    <div class="container">
        <div class="row">
            <!--nav-->
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav ">
                    <li class="logo"><a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a></li>
                    <li><a class="navigation" href="#">KNOWLEDGE CENTRE </a></li>
                    <li class=""><a class="navigation" href="#">BREEDING IMPROVEMENT</a></li>
                    <li class=""><a class="navigation" href="#">NEWS</a></li>
                    <li class=""><a class="navigation" href="#">PARTNERS</a></li>
                    <li class=""><a class="navigation" href="#">EVENTS</a></li>
                    <li class="search2"><a class="navigation" href="#"></a></li>
                    <li class="dropdown menu2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">MEMBER LOGIN <img src="img/sign_in_icon.png" alt=""></a></li>
                            <li class="divider"></li>
                            <li><a href="#">HOME</a></li>
                            <li class="divider"></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li class="divider"></li>
                            <li><a href="#">LINKS</a></li>
                            <li class="divider"></li>
                            <li><a href="#">CONTACT US</a></li>
                            <li class="divider"></li>
                            <li><a href="#">HOLSTEIN UK</a></li>
                            <li class="divider"></li>
                            <li><a href="#">CIS</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!--//nav-->
        </div>
    </div>
    <!-- Block hidden_menu_block_dark -->
    <div class="hidden_menu_block_dark">
        <div class="col-xs-12">
            <div class="logo col-xs-6">
                <a class="navbar-brand" href="#">
                    <img src="img/logo2.png" alt="">
                </a>
            </div>
            <div class="col-xs-6">
                <div id="search2" class="search2"></div>
                <ul class=" ">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><img src="img/menu2.png" alt=""></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">MEMBER LOGIN <img src="img/sign_in_icon.png" alt=""></a></li>
                            <hr>
                            <li class="active "><a class="navigation" href="#">KNOWLEDGE CENTRE </a></li>
                            <hr>
                            <li class=""><a class="navigation" href="#">BREEDING IMPROVEMENT</a></li>
                            <hr>
                            <li class=""><a class="navigation" href="#">NEWS</a></li>
                            <hr>
                            <li class=""><a class="navigation" href="#">PARTNERS</a></li>
                            <hr>
                            <li class=""><a class="navigation" href="#">EVENTS</a></li>
                            <hr>
                            <li><a href="#">HOME</a></li>
                            <hr>
                            <li><a href="#">ABOUT US</a></li>
                            <hr>
                            <li><a href="#">LINKS</a></li>
                            <hr>
                            <li><a href="#">CONTACT US</a></li>
                            <hr>
                            <li><a href="#">HOLSTEIN UK</a></li>
                            <hr>
                            <li><a href="#">CIS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Block searchPopap -->
        <div id="search_form_mobile">
            <form action="#" method="post">
                <input name="search" type="text" placeholder="Search">
                <button type="submit"><img src="img/search.png" alt=""></button>
            </form>
        </div>
        <!-- end block searchPopap -->


    </div>
    <!-- end block hidden_menu_block_dark -->

<!--//Navigation-->

<!-- Block searchPopap -->
<div id="search_form">
    <form id="formSearch" action="#" method="post">
        <input name="search" type="text" placeholder="Search">
        <button type="submit"><img src="img/search.png" alt=""></button>
    </form>
</div>
<!-- end block searchPopap -->


