<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>LINKS <img src="img/Icons/links_icon.png" alt=""></h4>
            <ul>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Cookie policy</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4>ABOUT <img src="img/Icons/about_icon.png" alt=""></h4>
            <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About the CDI</a></li>

            </ul>
        </div>
        <div class="col-sm-3">
            <h4>TOOLS <img src="img/Icons/tools_icon.png" alt=""></h4>
            <ul>
                <li><a href="#">Bull Selector</a></li>
                <li><a href="#">WebMate</a></li>
                <li><a href="#">WebReg</a></li>
                <li><a href="#">Virtual Cow</a></li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h4>CONTACT US <img src="img/Icons/contact_icon.png" alt=""></h4>
            <ul>
                <li><a href="#">Tel: +44(0) 1923 695 298</a></li>
                <li><a href="#">Email: info@holstein-uk.org</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
</div>