///*==========  Desktop First Method  ==========*/
///* Large Devices, Wide Screens */
//
////
////.trans
////	-webkit-transition: all .5s ease
////	time-moz-transition: all .5s ease
////	time-ms-transition: all .5s ease
////	time-o-transition: all .5s ease
////	timetransition: all .5s ease time
//
//@media only screen and (max-width : 1200px)


//@media only screen and (max-width : 1006px)


///* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	//block menu
	.black_menu_horisontal
		display: none
	.small_menu
		display: block

	// footer_menu
	.section_5
		position: relative
		.container-fluid
			margin-top: 120px
		span.footer_copy_media_small
			margin-top: 0
		ul
			padding-bottom: 0

	.visible_menu_footer
		display: none

	.hidden_menu_footer
		display: block
		margin-top: 38px
		.panel
			.panel-heading
				position: relative
				a
					font-size: 30px
					line-height: 32px
				img.contact_us
					position: absolute
					right: 20px
					top: 23px
	.cow
		background-position: 97% 0
		position: absolute
		z-index: -1
		margin-top: -100px

	.panel-collapse .panel-body
		border-top: none !important
	.panel-default:last-child
		border: none !important
	#button_down
		display: none

	.informer
		display: none

//
///* Small Devices, Tablets */
//@media only screen and (max-width : 768px)



//* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.drop_menu_large
		width: 100%



//@media only screen and (max-width : 380px)



//
//
///*==========  Mobile First Method  ==========*/
//
///* Custom, iPhone Retina */
////@media only screen and (min-width : 320px)
///**/
//
//
///* Extra Small Devices, Phones */
////@media only screen and (min-width : 480px)
/////**/
//
//
///* Small Devices, Tablets */
////@media only screen and (min-width : 768px)
///**/
//
//
///* Medium Devices, Desktops */
////@media only screen and (min-width : 992px)
//
//
//
///* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.section_5 .container-fluid
		margin-top: -1px




