.btn_primary
	font-family: $body-font-famaly-bold
	font-size: 15px
	color: $light-blue
	line-height: 15px
	background: $white
	border: 2px solid $light-blue
	padding: 13px 27px
/* Rectangle 89: */


.btn_primary:hover
	background: $light-blue
	color: $white
	border: 1px solid $light-blue