///*==========  Desktop First Method  ==========*/
///* Large Devices, Wide Screens */


//@media only screen and (max-width : 1200px)

@media only screen and (max-width : 1023px)
	header
		max-height: 242px
		margin-top: 59px
		background-position: 0 0
	.small_menu
		top: 0


	.main_lid
		display: none

	.section_1
		h3
			font-size: 37px
			font-weight: 400
			line-height: 36px
			margin-top: 7px
		p
			font-size: 15px
			line-height: 21px
			width: 273px
			margin: auto
		.btn-wrap
			margin-top: 34px

	.hidden_line
		display: block
		width: 280px
		height: 2px
		background: $bg_line
		margin: -22px auto 20px

	.item_block .col-sm-6, .item_block .col-md-4
		padding: 8px 14px
		.item_block__text
			position: relative
			margin-top: -68px
			padding: 3px 0

			h3
				font-size: 38px
				line-height: 45px
				text-align: center
			p
				display: block !important
				margin-top: 24px
				line-height: 22px

		img
			height: 214px





///* Medium Devices, Desktops */
//@media only screen and (max-width : 992px)

//
///* Small Devices, Tablets */
//@media only screen and (max-width : 768px)

//* Extra Small Devices, Phones */
//@media only screen and (max-width : 480px)


//@media only screen and (max-width : 380px)



///*==========  Mobile First Method  ==========*/
//
///* Custom, iPhone Retina */
////@media only screen and (min-width : 320px)
///**/
//
//
///* Extra Small Devices, Phones */
////@media only screen and (min-width : 480px)
/////**/
//
//
///* Small Devices, Tablets */
////@media only screen and (min-width : 768px)
///**/
//
//
///* Medium Devices, Desktops */
////@media only screen and (min-width : 992px)
//
//
//
///* Large Devices, Wide Screens */
//@media only screen and (min-width : 1200px)





