<!-- Block item_block-->

<div class="item_block">
    <div class="hidden_line"></div>
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="items" id="1">
                    <div class="item_block__wrap1">

                    </div>
                    <div class="item_block__text">
                        <h3>KNOWLEDGE CENTRE</h3>

                        <p class="1">CDI has collated the results recorded in the UK for Registered animals from
                            lactations produced over the two forage seasons from spring 2013 to autumn 2014</p>

                        <a href="#" class="hidden_button_item_main btn_primary">KNOWLEDGE CENTRE</a>

                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="items" id="2">

                    <div class="item_block__wrap">

                    </div>
                    <div class="item_block__text">
                        <h3>BREEDING IMPROVEMENT</h3>

                        <p class="2">CDI has collated the results recorded in the UK for Registered animals from
                            lactations produced over the two forage seasons from spring 2013 to autumn 2014</p>
                        <a href="#" class="hidden_button_item_main btn_primary">BREEDING IMPROVEMENT</a>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 relative">
                <div class="item_block__wrap3">
                    <div class="bg_item_small">
                        <div class="div_bgg"></div>
                    </div>

                </div>
                <div class="relative">
                    <div class="item_block__text">
                        <h4>LATEST NEWS</h4>
                        <a href="#" class="hidden_button_item_main btn_reverse">VIEW</a>

                    </div>
                </div>

            </div>
            <div class="col-md-4 relative">

                <div class="item_block__wrap4">
                    <div class="bg_item_small">
                        <div class="div_bgg"></div>
                    </div>

                </div>
                <div class="relative">
                    <div class="item_block__text">
                        <h4>EVENTS</h4>
                        <a href="#" class="hidden_button_item_main btn_reverse">VIEW</a>

                    </div>
                </div>


            </div>
            <div class="col-md-4 relative">

                <div class="item_block__wrap5">
                    <div class="bg_item_small">
                        <div class="div_bgg"></div>
                    </div>

                </div>
                <div class="relative">
                    <div class="item_block__text">
                        <h4>PARTNERS</h4>
                        <a href="#" class="hidden_button_item_main btn_reverse">VIEW</a>


                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<!-- end block item_block -->