.black_menu_horisontal
	ul.logo_ul
		display: inline
		float: left
	ul.navigation
		margin: 0
		display: inline-block
		float: right
	li
		display: inline-block
		padding: 28px 11px
		&:hover
			background-color: $bg_hover_navigation
			a
				color: $black
	.col-md-12
		padding: 0
	.drop_nav
		padding: 0
		&:hover
			color: black
			background-color: $bg_hover_navigation
		i
			font-size: 24px
			padding: 22px 11px 28px
			&:hover
				color: black
				background-color: $bg_hover_navigation

	.search
		width: 55px
		padding: 22px 11px 27px
		text-align: center
		&:hover
			color: black
			background-color: $bg_hover_navigation
			i
				color: black
				background-color: $bg_hover_navigation
		i
			font-size: 24px
			color: $white
			&:hover
				color: black
				background-color: $bg_hover_navigation
	.logo
		padding: 20px 11px
		&:hover
			background: none
.blak_nav
	color: black
	background-color: $bg_hover_navigation
