//main-page
// header
header
	background-image: url('../img/bgg.jpg')
	background-position: center
	background-size: cover
	width: 100%
.main_lid
	background-color: rgba(255, 255, 255, 0.7)
	padding: 30px 0 30px 30px
	width: 450px
	position: absolute
	right: 0
	bottom: 20%
	p
		font-size: 21px
		font-weight: 700
		line-height: 21px
		margin: 0
	h1
		font-size: 57px
		margin: 0
	span
		font-size: 88px
		@extend h1





