

.item_block__wrap
	height: 316px
	background-color: grey
	background-image: url(../img/man2.png)
	background-repeat: no-repeat
	background-size: cover
	margin-bottom: 30px

.item_block__wrap1
	@extend .item_block__wrap
	background-image: url(../img/man.png)

.item_block__text
	position: absolute
	background-color: rgba(255, 255, 255, 0.7)
	width: 100%
	padding: 10px
	bottom: 15px
	p
		display: none

.hidden_button_item_main
	display: none

.relative
	position: relative

.col-md-4
	.item_block__wrap3
		@extend .item_block__wrap
		background-image: url(../img/item3.jpg)
		height: 215px
	.item_block__wrap4
		@extend .item_block__wrap3
		background-image: url(../img/item4.jpg)
	.item_block__wrap5
		@extend .item_block__wrap3
		background-image: url(../img/item5.jpg)
