// section 10 partners
.section_10
	.padding_revraiter
		padding: 5px


.button_partner-wrap-button
	padding: 5px 0 8px

	&:after
		border-bottom: 2px solid $navigation_black_hover
		display: block
		height: 2px
		content: ""
		clear: both

	button
		display: block
		float: left
		margin-right: 10px
		background-color: $light-blue
		border: none
		padding: 11px 25px
		font-size: 12px
		&.activ
			background-color: $dark-blue


.partner_items
	padding-bottom: 100px
	.item
		padding: 12px 7px
		border-bottom: 2px solid $nav-bordeer
		position: relative

		h4
			margin-bottom: 20px
		img
			margin-bottom: 20px
		.toogle-img-partners
			position: absolute
			right: 20px
			top: 20px
			display: none
		.partner
			display: block


	.rotate
		transform: rotate(180deg)

ul.adress_partners
	position: relative
	padding-left: 11px
	&:before
		background-image: url("../img/Icons/fill-1.png")
		background-repeat: no-repeat
		height: 17px
		width: 17px
		background-position: center
		position: absolute
		margin-left: -25px
		top: 3px
		content: ''
	li
		position: relative
		line-height: 22px
		a
			line-height: 22px

.relativ
	position: relative

.man
	position: relative
	&:before
		background-image: url("../img/Icons/man.png")
		background-repeat: no-repeat
		height: 17px
		width: 17px
		background-position: center
		position: absolute
		margin-left: -25px
		top: -1px
		content: ''
//phone_partners.png

.phone_partners
	position: relative
	&:before
		background-image: url("../img/Icons/phone_partners.png")
		background-repeat: no-repeat
		height: 17px
		width: 17px
		background-position: center
		position: absolute
		margin-left: -25px
		top: -1px
		content: ''

.mail_partners
	position: relative
	text-decoration: underline
	&:before
		background-image: url("../img/Icons/mail_partners.png")
		background-repeat: no-repeat
		height: 17px
		width: 17px
		background-position: center
		position: absolute
		margin-left: -25px
		top: -1px
		content: ''



.web_partners
	position: relative
	text-decoration: underline
	&:before
		background-image: url("../img/Icons/web_partners.png")
		background-repeat: no-repeat
		height: 17px
		width: 17px
		background-position: center
		position: absolute
		margin-left: -25px
		top: -1px
		content: ''

.fax
	position: relative
	&:before
		background-image: url("../img/Icons/fax.png")
		background-repeat: no-repeat
		height: 17px
		width: 17px
		background-position: center
		position: absolute
		margin-left: -25px
		top: -1px
		content: ''

.adresses
	padding-left: 12px
	li
		line-height: 22px