//section_7
.section_7
	position: relative
	.lid
		position: absolute
		width: 394px
		right: 0
		background: rgba(255, 255, 255, 0.7)
		top: 50%
		padding: 23px 15px 35px 25px
		transform: translateY(-50%)
		h3
			margin-top: 0
			margin-bottom: 0

		p
			font-size: 14px
			line-height: 23px
.padding_revriter
	padding: 0 5px

.dashboard
	border-top: 2px solid $light-blue
	background-image: url('../img/stock-photo-cows-and-calves-in-the-hangar-with-metal-floor-on-a-dairy-farm-156577613.png')
	height: 380px
	background-position:  center
	background-size: cover


.dashboard_certificat
	@extend .dashboard
	background-image: url(../img/dashboard_sertificat.png)

.dashboard_partner
	@extend .dashboard
	background-image: url(../img/dashboard_partner.png)



.certificates
	.dashboard
		background-image: url('../img/summer-861865_1280.png')
		background-position:  0 0

.dashboard.partners
	background-image: url('../img/klen.png')
		background-position:  0 0

.frame
	width: 100%
	border: 0
