.section_1
	text-align: center
	margin: 23px auto

	h3
		font-size: 40px
		margin-bottom: 11px
		font-weight: 400
		line-height: 32px
		margin-top: 31px

	//line-height: 32px
	p
		font-size: 26px
		font-weight: 300
		line-height: 34px
		color: $navigation_black
	.btn-wrap
		margin-top: 43px
		font-size: 14px
		font-weight: 700
		line-height: 15px
		

