#section-1
	background: url('/img/bgg.png') 50% 0 no-repeat
	background-size: cover

	header
		color: #FFF
		position: absolute
		top: 30%
		left: 50%
		margin: 0 0 0 -350px
		width: 700px
		text-align: center
		text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
		line-height: 1.1
ol,ul
	list-style: none


