.section7
	padding-top: 200px
	position: relative
	.container-fluid

		background-color: #2E569B
		//background: -moz-linear-gradient(top,  rgba(46,86,155,0.7) 0%, rgba(46,86,155,1) 59%, rgba(46,86,155,1) 99%)
		//background: -webkit-linear-gradient(top,  rgba(46,86,155,0.7) 0%,rgba(46,86,155,1) 59%,rgba(46,86,155,1) 99%)
		//background: linear-gradient(to bottom,  rgba(46,86,155,0.7) 0%,rgba(46,86,155,1) 59%,rgba(46,86,155,1) 99%)
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b32e569b', endColorstr='#2e569b',GradientType=0 )


		height: auto
		padding-bottom: 70px
		margin-top: -5%

	.cow
		background-image: url('../img/footer_design.png')
		height: 200px
		position: absolute
		left: 0
		width: 100%
		top: 0
		background-position: 50% 0
		background-repeat: no-repeat
		background-size: cover

	a
		font-size: 16px




	ul
		padding: 0 0 30px 0
		margin-top: 0px
	a,h4
		color: $white

	img
		padding: 0 10px
		margin-top: -12px

.hidden_menu_footer
	display: none
	margin-top: 50px
	.panel
		background: none
		border-radius: 0
		border: none
		border-bottom: 1px solid white
		box-shadow: none
		.panel-heading
			background: none
			border: none
			text-transform: uppercase
			a
				font-size: 25px
			.panel-title
				span
					@include triangle(17px,$white,down)
					position: absolute
					right: 40px











