.section7
	padding-top: 200px
	position: relative
	.container-fluid
		background: #315ca5
		background: -moz-linear-gradient(top,  #315ca5 0%, #315ca5 31%, #408bd6 50%, #315ca5 100%)
		background: -webkit-linear-gradient(top,  #315ca5 0%,#315ca5 31%,#408bd6 50%,#315ca5 100%)
		background: linear-gradient(to bottom,  #315ca5 0%,#315ca5 31%,#408bd6 50%,#315ca5 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#315ca5', endColorstr='#315ca5',GradientType=0 )



		//background-color: $footer_bg
		height: 370px
		margin-top: -147px
	.container
		background-image: url('../img/footer_bg.png')
		height: 130px
		background-position: 50% 0
		background-repeat: no-repeat
		background-size: contain
		position: absolute
		top: -25px
		left: 50%
		transform: translateX(-50%)
		z-index: 200