.section3

.navbar

	opacity: 1
	border-radius: 0

.navbar-brand

	padding: 27px 30px 22px 20px

	img
		height: 40px
.navbar-nav
	margin-left: 17px

.navbar-nav li
	border-right: 1px solid $nav-bordeer
.navbar-nav a
	font-size: 17px

.navbar-nav li a
	padding: 34px 15px

.navbar-nav li.logo a
	padding: 27px 16px 0 31px


.navbar-nav li.menu2 a
	padding: 31px 25px

.navbar-nav li.menu2
	border: none



.menu2 img
	width: 27px

li.search2 a
	padding: 30px 15px

.search2 a img
	width: 28px