#section-1
	background: url('../img/bgg.jpg') 50% 0 no-repeat
	background-size: cover

	.navbar-nav ul.dropdown-menu a
		padding: 8px 25px
		text-align: center
		font-family: $navigation-bold
		text-transform: uppercase
		color: $dark-blue
		min-width: 232px
		font-weight: 600
	.divider
		width: 80%
		margin: auto
		background-color: $nav-bordeer

ol,ul
	list-style: none
a:hover
	text-decoration: none

.section0
	width: 100%

	.navbar-default
		background: -moz-linear-gradient(top,  rgba(5,1,1,1) 0%, rgba(0,0,0,0.25) 75%, rgba(0,0,0,0) 100%)
		background: -webkit-linear-gradient(top,  rgba(5,1,1,1) 0%,rgba(0,0,0,0.25) 75%,rgba(0,0,0,0) 100%)
		background: linear-gradient(to bottom,  rgba(5,1,1,1) 0%,rgba(0,0,0,0.25) 75%,rgba(0,0,0,0) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050101', endColorstr='#00000000',GradientType=0 )



		border: none


	.navbar
		margin-top: 0
		opacity: 1
		border-radius: 0

	.navbar-brand

		padding: 27px 30px 22px 20px

		img
			height: 40px
	.navbar-nav
		margin-left: 17px

	.navbar-nav li
		border: none
	.navbar-nav a
		font-size: 17px
	.navbar-nav a:hover
		background-color: $white
		color: $black

	.navbar-nav li a
		padding: 34px 15px

	.navbar-nav li.logo a
		padding: 27px 16px 0 31px


	.navbar-nav li.menu2 a
		padding: 31px 40px

	.navbar-nav li.menu2
		border: none
	.navbar-nav .navigation
		color: $white

	.navbar-nav a.navigation:hover
		background-color: $bg_hover_navigation
		color: $navigation_black


	.menu2 img
		width: 27px

	li.search2 a
		padding: 30px 15px

	.search2 a.navigation
		width: 65px
		background-image: url('../img/search.png')
		padding-bottom: 58px
		background-repeat: no-repeat
		background-position: center 30px

	.search2 a.navigation:hover
		background-image: url('../img/search2.png')


	li.menu2 a.dropdown-toggle
		width: 65px
		background-image: url('../img/menu_icon_white.png')
		padding-bottom: 58px
		background-repeat: no-repeat
		background-position: center 30px

	li.menu2 a.dropdown-toggle:hover
		background-image: url('../img/menu_icon_reverse.png')
		background-color: $bg_hover_navigation

	li.menu2 a.dropdown-toggle:focus
		background-image: url('../img/menu_icon_reverse.png')
		background-color: $bg_hover_navigation



ol.curtains
	padding: 0

.hidden_menu_block_dark
	display: none
	float: right
	height: 90px
	padding-top: 10px
	width: 100%
	margin: 0
	background-color: $bg_hover_navigation
	vertical-align: middle
	position: fixed
	margin-bottom: 100px
	.col-xs-12, .col-xs-6
		padding: 0
	.dropdown
		position: absolute
		right: 30px
		top: 20px
	.search2
		position: absolute
		right: 80px
		top: 20px
	.dropdown-menu
		top: 57px
		border-radius: 0
		a
			background: none
			color: $dark-blue
			font-weight: 600
		li
			padding: 8px 0
			background-color: $white
			text-align: center
	hr
		margin: 0 auto
		width: 80%
		background-color: $bg_hover_navigation

	.navbar-brand
		padding: 18px 15px
		img
			height: 32px